main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

button {
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid;
}

button:active {
    /* outline:1px solid #000; */
    cursor: default;
}

.my-btn {
    padding: 4px 8px 1px 8px;
    margin-right: 3px;
}

th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: .5em;
}

th {
    border-width: 2px;
    border-color: #888;
}

form input,
form button {
    width: 100%;
    margin-bottom: .5em;
    padding: .5em;
    border: 1px solid;
    font-size: inherit;
}

form input:focus,
button:focus {
    outline: 0;
}

.tr {
    text-align: right;
}

[hidden] {
    display: none;
}